node_modules/
bower_components/
*.log

/client/bundled
build/
dist/
.dockercfg
.dockercfg.jsonw
server/config/credentials/key.pem
server/config/credentials/cert.pem
server/config/credentials/chain.pem
server/config/credentials/apikeys.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
