node_modules/
bower_components/
*.log
/server/db/db.js
/client/bundled
build/
dist/
.dockercfg
.dockercfg.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
